main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span{
  margin: 0.1rem;
}

.link {
  text-decoration: none;
  color: rgb(88, 122, 214);
  font-weight: 700;
}

.qty {
  text-align: center;
}